/* import local fonts */
@font-face {
  font-family: "MaShanZheng";
  src: url("../assets/fonts/MaShanZheng-Regular.ttf");
}
@font-face {
  font-family: "Bangers";
  src: url("../assets/fonts/Bangers-Regular.ttf");
  font-weight: bold;
}
.nav-logo img {
  padding: 0.5em;
  width: 3.5em;
  height: 3.5em;
}
header {
  background: rgb(250, 250, 250);
}
.nav-logo {
  display: flex;
}
.nav-logo .brand-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-logo .brand-title h1 {
  font-size: 2em;
  font-family: MaShanZheng;
  font-weight: 100;
  margin: 0;
}
.nav-logo .brand-title p {
  font-size: 0.8em;
  font-family: Bangers;
  margin: 0;
  text-align: right;
  font-weight: bold;
}
