openapi: 3.0.0
info:
  title: STM Medical API Documentation
  description: |
    <div style="background-color: #f1f1f1; padding: 20px; border-radius: 5px;">
      <h1 style="color: #333;">Welcome to the STM Medical API Documentation!</h1>
      <p style="font-size: 16px;">Explore the power of our API to make a difference.</p>
      <p style="font-weight: bold;">Organization: Service To Mankind</p>
      <hr style="border: none; border-top: 1px solid #ccc; margin: 20px 0;">
      <p style="font-size: 14px;">
        This documentation provides detailed information about the API endpoints and functionality offered by the STM organization.
      </p>
      <p style="font-size: 14px;">
        We aim to empower developers and partners to leverage our services for the betterment of society.
      </p>
    </div>

    <h2 style="color: #333;">Getting Started</h2>
    <p style="font-size: 16px;">To get started, please refer to the sidebar navigation to explore the available endpoints and their respective request and response structures.</p>

    <h2 style="color: #333;">Authentication</h2>
    <p style="font-size: 16px;">Some API endpoints require authentication. Please refer to the authentication section in the sidebar for more information on how to authenticate your requests.</p>

    <div style="background-color: #f9f9f9; padding: 10px; border-radius: 5px;">
      <p style="font-size: 14px; font-weight: bold;">Note:</p>
      <p style="font-size: 14px;">This API is intended for authorized use only. Make sure to obtain the necessary access credentials and follow the guidelines provided.</p>
    </div>
  version: 1.0.0
servers:
  - url: https://apis.stmorg.in/medical
paths:
  /investivations/blood:
    post:
      tags:
        - Investivations
      summary: Add investigation record
      description: |
        This endpoint allows you to add an investigation record to the database.
      requestBody:
        description: |
          The request body should contain a JSON object with the following properties:
          - `pid` - The ID of the patient
          - `heamoglobin` - The heamoglobin value
          - `rbc_count` - The red blood cell count
          - `wbc_count` - The white blood cell count
          - `neutrophils` - The neutrophils count
          - `lymphocytes` - The lymphocytes count
          - `eosinophils` - The eosinophils count
          - `monocytes` - The monocytes count
          - `basophils` - The basophils count
          - `platelet_count` - The platelet count
          - `haemotocrit` - The haemotocrit value
          - `mcv` - The mean corpuscular volume
          - `mch` - The mean corpuscular hemoglobin
          - `mchc` - The mean corpuscular hemoglobin concentration
          - `rdw_cv` - The red cell distribution width coefficient of variation
          - `band_forms` - The percentage of band forms
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pid:
                  type: integer
                heamoglobin:
                  type: string
                rbc_count:
                  type: string
                wbc_count:
                  type: string
                neutrophils:
                  type: string
                lymphocytes:
                  type: string
                eosinophils:
                  type: string
                monocytes:
                  type: string
                basophils:
                  type: string
                platelet_count:
                  type: string
                haemotocrit:
                  type: string
                mcv:
                  type: string
                mch:
                  type: string
                mchc:
                  type: string
                rdw_cv:
                  type: string
                band_forms:
                  type: string
              required:
                - pid
                - heamoglobin
                - rbc_count
                - wbc_count
                - neutrophils
                - lymphocytes
                - eosinophils
                - monocytes
                - basophils
                - platelet_count
                - haemotocrit
                - mcv
                - mch
                - mchc
                - rdw_cv
                - band_forms
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: success
                    type: string
                  data:
                    const: id
                    type: integer
        "400":
          description: Invalid request
  /patients/add_patient:
    post:
      tags:
        - Patients
      summary: Add patient
      description: |
        This endpoint allows you to add a patient to the database.
      requestBody:
        description: |
          The request body should contain a JSON object with the following properties:
          - `pid` - The ID of the patient
          - `name` - The name of the patient
          - `mobile` - The mobile number of the patient
          - `email` - The email address of the patient
          - `age` - The age of the patient
          - `gender` - The gender of the patient
          - `blood_group` - The blood group of the patient
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pid:
                  type: string
                name:
                  type: string
                mobile:
                  type: string
                email:
                  type: string
                age:
                  type: string
                gender:
                  type: string
                blood_group:
                  type: string
              required:
                - pid
                - name
                - mobile
                - email
                - age
                - gender
                - blood_group
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    const: success
                    type: string
                    description: The status of the response
                  data:
                    const: pid
                    type: integer
                    description: The ID of the patient
        "400":
          description: Invalid request
  /patients/patients:
    get:
      tags:
        - Patients
      summary: Search for patients
      description: |
        This endpoint allows you to search for patients based on the provided query.
      parameters:
        - in: query
          name: pquery
          schema:
            type: string
          required: false
          description: The search query
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Patient"
        "400":
          description: Invalid request

  /records/records:
    get:
      tags:
        - Records
      summary: Get medical records
      description: |
        This endpoint allows you to retrieve medical records.
      parameters:
        - in: query
          name: pquery
          schema:
            type: string
          description: Query string to search medical records by patient ID.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MedicalRecord"
          "400":
            description: Invalid request
  /records/add_records:
    post:
      tags:
        - Records
      summary: Add Medical Record
      requestBody:
        description: |
          The request body should contain a JSON object with the following properties:
          - `pid` - The ID of the patient
          - `diagonsis` - The diagnosis of the patient
          - `prescription` - The prescription of the patient
          - `doctor` - The doctor who prescribed the medicine
          - `prescriptionfile` - The prescription file
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                pid:
                  type: string
                diagnosis:
                  type: string
                prescription:
                  type: string
                doctor:
                  type: string
                prescriptionfile:
                  type: string
                  format: binary
              required:
                - pid
                - diagnosis
                - prescription
                - doctor
                - prescriptionfile
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
components:
  schemas:
    Patient:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        mobile:
          type: string
        email:
          type: string
        age:
          type: integer
        gender:
          type: string
        blood_group:
          type: string
        added_on:
          type: string
      example:
        id: 1
        name: "John Doe"
        mobile: "1234567890"
        email: "john.doe@example.com"
        age: 30
        gender: "Male"
        blood_group: "A+"
        added_on: "2023-06-19 06:09:17"
    MedicalRecord:
      type: object
      properties:
        id:
          type: integer
        pid:
          type: string
        last_visit:
          type: string
        diagnosis:
          type: string
        prescription:
          type: string
        status:
          type: integer
      example:
        id: 1
        pid: "ABC123"
        last_visit: "2023-06-19"
        diagnosis: "Lorem ipsum dolor sit amet"
        prescription: "Lorem ipsum dolor sit amet"
        status: 1

tags:
  - name: Introduction
    description: |

      STM (Service To Mankind) is a non-governmental organization (NGO) that is committed to the development of the society. It is a non-profit organization that aims to provide basic necessities to the underprivileged and help them lead a better life. The NGO is run by a group of volunteers who are passionate about making a difference in the society.

      ## List of API Documentations
      - [STM Management](/)
      - [Medical Management](/medical)
  - name: Investivations
    description: |
      This section contains the documentation for the investivations endpoints.
  - name: Patients
    description: |
      This section contains the documentation for the patients endpoints.
  - name: Records
    description: |
      This section contains the documentation for the records endpoints.
